$opacity: 0.8;

:host {
	position: relative;
}
.background {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	background-color: #000000;
	z-index: 10;
	animation: .1s fade-out linear;
	
	&.active {
		width: 100vw;
		height: 100vh;
		opacity: $opacity;
		animation: .1s fade-in linear;
	}
}
.before-init {
	visibility: hidden;
}

@keyframes fade-in {
	0% {
		width: 0;
		height: 0;
		opacity: 0;
	}
	1% {
		width: 100vw;
		height: 100vh;
		opacity: 0;
	}
	100% {
		width: 100vw;
		height: 100vh;
		opacity: $opacity;
	}
}

@keyframes fade-out {
	0% {
		width: 100vw;
		height: 100vh;
		opacity: $opacity;
	}
	99% {
		width: 100vw;
		height: 100vh;
		opacity: 0;
	}
	100% {
		width: 0;
		height: 0;
		opacity: 0;
	}
}